@font-face {
    font-family: "ShermanSerif";
    src: url("./fonts/shermanserif-book.woff2") format("woff2"),
        url("./fonts/shermanserif-book.woff") format("woff"),
        url("./fonts/shermanserif-book.eot") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0020-007F, U+00A9, U+00AE, U+2013-201D;
}

@font-face {
    font-family: "ShermanSerif";
    src: url("./fonts/shermanserif-book-intl.woff2") format("woff2"),
        url("./fonts/shermanserif-book-intl.woff") format("woff"),
        url("./fonts/shermanserif-book-intl.eot") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+00A0-00A8, U+00C0-024F, U+201E-2026;
}

body {
    font-family: ShermanSerif, Georgia, serif !important;
    color: #404040;
    background-color: #E8EAEB !important; /*syracuse-light-gray*/
}

form input,
form select,
form fieldset {
    font-family: "Roboto", sans-serif;
}

input[type=number] {
    text-align: right;
}

fieldset {
    border-top: 1px solid rgba(111, 119, 125);
}

legend {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 1050;
    font-size: 0.85rem;
    padding: 0.1rem 0.5rem;
    margin-bottom: 1rem;
    width: 50%;
    margin-left: 1rem;
    background-color: #E8EAEB !important; /*syracuse-light-gray*/
    color: #404040;
    font-weight: 401;
}

/** styles the fieldset legend's container */
.legend-container {
    text-align: center;
    font-style: italic;
}

.syracuse-orange {
    background-color: #D44500 !important;
}

.syracuse-extra-dark-gray {
    background-color: #3E3D3C !important;
}

.syracuse-dark-gray {
    background-color: #6F777D !important;
}

.syracuse-medium-gray {
    background-color: #ADB3B8 !important;
}

.syracuse-light-gray {
    background-color: #E8EAEB !important;
}

.syracuse-orange .navbar-brand {
    color: #fff !important;
}

/** buttons should use the roboto fonts */
.btn {
    font-family: "Roboto", sans-serif !important;
}

/** proper contrast ratio for the success colored button */
.btn-success { background-color: #008a00 !important; }
.btn-success:hover { background-color: #00e25b !important; }
.btn-success:focus, .btn-success:active, .btn-success.active { background-color: #00e25b !important; }

/** proper contrast ratio for the info colored button */
.btn-info { background-color: #0080a6 !important; }
.btn-info:hover { background-color: #4abde8 !important; }
.btn-info:focus, .btn-info:active, .btn-info.active { background-color: #4abde8 !important; }

/** proper contrast ratio for deep orange colored button */
.btn-deep-orange { background-color: #D44500 !important; /*syracuse-orange*/ }
.btn-deep-orange:hover { background-color: #ff835d !important; }
.btn-deep-orange:focus, .btn-deep-orange:active, .btn-deep-orange.active { background-color: #ff835d !important; }
.btn:disabled .btn-deep-orange { background-color: #bc5b00 !important; }

/** styles the asterix denoting required inputs for a navigation pill */
.required-pill-asterix {
    color: #e72400;
    position: relative;
    top: -0.25rem !important;
}

/** sizing of form labels */
.col-form-label {
    font-size: 0.85rem;
}

/** proper contrast ratio for the toaster displaying error alerts */
.toasted.error {
    background-color: #e72400 !important;
}

/** proper font sizing & color for the toaster action */
.toasted .action {
    font-size: 0.65rem !important;
    margin-top: 7px !important;
    color: #080400 !important;
}

/** this is required to override the ripple class added by mdbootstrap */
.toasted .action.ripple {
    position: static;
    z-index: 10;
    background: transparent;
    opacity: 1;
    transform: none;
}

/** styling checkbox & radio buttons */
.custom-control-inline {
    padding-top: 0.25rem;
}

/** styling checkbox & radio button labels */
.custom-control-label {
    font-size: 0.85rem;
    padding-top: 0.2rem;
}